/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * Put your stuff here
 */

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 * Fucked up by JuPi :D
 */

/* Make top menu stick and be nice */

.nav-wrapper { background-color: #FFFFFF !important; font-weight: bold;}
nav ul li a { color: #566573; font-size: 18px;}
nav { height: 80px; line-height: 80px;}

nav a {
  color: #000;
}

nav a.sidenav-trigger {
  height: 80px;
  line-height: 80px;
}

/* Set fonts like we want them*/

h1 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
    font-weight: 800; 
    font-size: 32px; 
    color:#4e4e4e;
    margin: 0;
}

h2 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 0.912rem 0;
}

h3 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

h4 {
  font-size: 1.15rem;
  line-height: 110%;
  margin: 0.7666666667rem 0 0.46rem 0;
}

#quote {
    color:#ddd;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 24px;
}

#quote span {
  font-size: 32px;
  font-weight: bold;
}

#get_a_quote {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 40px;
}

.card-image img {
    display: inline !important;
    border-radius: 50% !important;
    padding: 15%;
}

.index.card-content p {
  text-align: justify;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .index.card-content p {
    height: 420px;
  }
}

@media only screen and (min-width: 1201px) {
  .index.card-content p {
    height: 320px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .index.card-content p {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .index.card-content p {
    height: 140px;
  }
  
  .card-image img {
    display: inline !important;
    max-width: 200px;
    border-radius: 50% !important;
    padding: 15px;
  }
}

.card-panel h6 {
  height: 40px;
}

.card-panel p {
  height: 100px;
}

.phone-widget a{
  padding: 0 20px;

}

.phone-widget span {
  position: relative;
  top: -5px;
  font-weight: bold;
}

/* Used to have the parallax image of front page at good size */
.full-width { 
  height: 80%; 
}

/* This is shit, but it works... factorise to call badge with color instead of a style per color... */
.notification-badge1 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #facc00; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge2 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #99cf4b; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge3 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #da3743; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge4 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #E55AAF; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge5 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #5999ce; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}
.notification-badge6 {position: relative; float: right; text: 30px; top: 15px; color: white; margin-right: 60px; background-color: #60c9be; border-radius: 50%; padding: 10px 17px 10px 17px; font-size:large;}

/* Set icons of our promise at the right size*/
.icon-block .material-icons { font-size: inherit;}
.promise-icons { font-size: 64px; }

/* Set the borders of our process */
.process-grid
{ border:5px solid #B3B4BD; border-radius: 20px 80px 80px 15px;}

/* Testimonial image size */
.testimonialimages{
  max-height:50%;
  object-fit: contain;
}

.card-postindex {
     width:300px;
}

.footerright {
	margin-top: -12px;
}

/* news */
.container.post {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
}


/* not working
justify all paragraphs*/
p {
  text-align: justify;
  text-justify: inter-word;
}

code {
  font-weight: bold;
}

/*

.nav-wrapper { 
  background-color: #131516 !important; font-weight: bold;}

.tap-target-wave::before, .tap-target-wave::after {
  background-color: #131516;
}

.white {
  background-color: #131516 !important;
}

--darkreader-neutral-text: #d8d4cf;

--darkreader-selection-background: #004daa;

--darkreader-selection-text: #e8e6e3;

*/
